// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.pointer {
  cursor: pointer;
  color: crimson;
}
.pointer:hover {
  text-decoration: underline;
}
